[Desktop Entry]
Icon=text-html
Name=http://www.census.gov/geo/reference/docs/state.txt
Type=Link
URL[$e]=http://www.census.gov/geo/reference/docs/state.txt
