[Desktop Entry]
Icon=text-html
Name=http://dds.cr.usgs.gov/pub/data/nationalatlas/statesp020_nt00032.tar.gz
Type=Link
URL[$e]=http://dds.cr.usgs.gov/pub/data/nationalatlas/statesp020_nt00032.tar.gz
